<div class="mat-elevation-z8" *ngIf="isFormLoaded">
    <form [formGroup]="orderTxForm">
        <mat-card class="mb-5">
            <mat-card-header [class]="'mat-card-headers'">
                <mat-card-title>
                    {{ headerTitle}}
                    <div class="title-underline"></div>
                </mat-card-title>
            </mat-card-header>
        
            <mat-card-content class="text-center">
                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-around">                    
                    
                    <div [class]="(isHandset$ | async) ? '' : ''" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <i-mat-datepicker [label]="'Date'" [dateFormControl]="orderTxForm.controls['transactiondate'] | convertToFormControl"></i-mat-datepicker>
                    </div>
    

                    <div [fxLayout]="'row'" [fxFlex]="(isHandset$ | async) ? 100 : 50">

                        <mat-form-field appearance="outline"
                            [class]="(isHandset$ | async) ? 'innov-matFormField pr-5' : 'innov-matFormField pr-5 ml-10'"
                            [fxFlex]="50">
                            <mat-label>Voucher No.</mat-label>
                            <input matInput placeholder="Enter Voucher No." #vouchernumber name="vouchernumber"
                                id="vouchernumber" formControlName="vouchernumber">
                        </mat-form-field>

                        <mat-form-field appearance="outline"
                            [class]="'innov-matFormField'"
                            [fxFlex]="50">
                            <mat-label>Reference No.</mat-label>
                            <input matInput placeholder="Enter Reference No." #referenceNo name="referenceNo"
                                id="referenceNo" formControlName="referenceNo">
                        </mat-form-field>
                    </div>

                </div>

                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-around">
                    
                    <Ledger-Box [fxFlex]="(isHandset$ | async) ? 100 : 50"                        
                        [ledgerFormControl]="getOrderFormControl('ledgerName')"
                        [ledgerBoxTitle]="'Ledger'"
                        (onLedgerSelection)="onLedgerSelectionChange($event)">
                    </Ledger-Box>
                    
                    <mat-form-field appearance="outline"                        
                        [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField ml-10'"
                        [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>Name on Bill</mat-label>
                        <input matInput placeholder="Enter Bill Name" #referenceNo name="billName"
                            id="billName" formControlName="billName">
                    </mat-form-field>
                    
                </div>

            </mat-card-content>
        </mat-card>
    </form>

    <form [formGroup]="itemForm">
        <mat-card [class]="'mb-5'">
            <mat-card-header [class]="'mat-card-headers'">
                <mat-card-subtitle>
                    Add Item(s)                    
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="start">

                    <div [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField'" 
                        [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <item-box   [itemFormControl]="getItemFormControl('itemName')"
                            (onItemSelection)="onItemSelectionChange($event)">
                        </item-box>
                    </div>

                    <div [fxLayout]="'row'" [fxFlex]="(isHandset$ | async) ? 100 : 50">

                        <mat-form-field appearance="outline"
                            [class]="(isHandset$ | async) ? 'innov-matFormField pr-5' : 'innov-matFormField pr-5 ml-10'" 
                            [fxFlex]="50">
                            <mat-label>Product Code</mat-label>
                            <input matInput placeholder="Product Code" #referenceNo name="itemProductCode"
                                id="itemProductCode" formControlName="itemProductCode">
                        </mat-form-field>

                        <mat-form-field appearance="outline"
                            [class]="'innov-matFormField'"
                            [fxFlex]="50">
                            <mat-label>M.R.P.</mat-label>
                            <input matInput placeholder="mrp" #referenceNo name="mrp"
                                id="mrp" formControlName="mrp">
                        </mat-form-field>
                    </div>
                    
                </div>

                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="start">

                    <div [fxLayout]="'row'" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-form-field appearance="outline"
                            [class]="(isHandset$ | async) ? 'innov-matFormField pr-5' : 'innov-matFormField pr-5'"
                            [fxFlex]="50">
                            <mat-label>Quantity</mat-label>
                            <input matInput placeholder="Quantity" #quantity name="quantity"
                                id="quantity" formControlName="quantity">
                        </mat-form-field>

                        <mat-form-field appearance="outline"
                            [class]="'innov-matFormField'"
                            [fxFlex]="50">
                            <mat-label>Unit</mat-label>
                            <input matInput placeholder="Unit" #referenceNo name="unitName"
                                id="unitName" formControlName="unitName">
                        </mat-form-field>    
                    </div> 
                    
                    <div [fxLayout]="'row'" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-form-field appearance="outline"
                            [class]="(isHandset$ | async) ? 'innov-matFormField pr-5' : 'innov-matFormField pr-5 ml-10'" 
                            [fxFlex]="50">
                            <mat-label>Discount (%)</mat-label>
                            <input matInput placeholder="Discount (%)" #referenceNo name="discount"
                                id="discount" formControlName="discount">
                        </mat-form-field>

                        <mat-form-field appearance="outline"
                            [class]="'innov-matFormField'" 
                            [fxFlex]="50">
                            <mat-label>Net Rate.</mat-label>
                            <input matInput placeholder="Net Rate" #referenceNo name="rate"
                                id="rate" formControlName="rate">
                        </mat-form-field>

                    </div>
                    
                </div>

                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="start">

                    <div [fxLayout]="'row'" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-form-field appearance="outline"
                            [class]="'innov-matFormField pr-5'"                            
                            [fxFlex]="50">
                            <mat-label>Amount (Exc. Tax)</mat-label>
                            <input matInput placeholder="Amount Excluding Tax" #taxableAmount name="taxableAmount"
                                id="taxableAmount" formControlName="taxableAmount">
                        </mat-form-field>

                        <div [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField'" 
                            [fxFlex]="(isHandset$ | async) ? 100 : 50">
                            <tax-group-box [taxGroupFormControl]="getItemFormControl('taxGroupName')"
                                (onTaxGroupSelection)="onTaxGroupSelectionChanged($event)">
                            </tax-group-box>
                        </div>

                    </div>

                    <div [fxLayout]="'row'" [fxFlex]="(isHandset$ | async) ? 100 : 50">

                        <mat-form-field appearance="outline"
                            [class]="(isHandset$ | async) ? 'innov-matFormField pr-5' : 'innov-matFormField pr-5 ml-10'" 
                            [fxFlex]="50">
                            <mat-label>Tax Amount</mat-label>
                            <input matInput placeholder="taxAmount" #taxAmount name="taxAmount"
                                id="taxAmount" formControlName="taxAmount">
                        </mat-form-field>
    
                        <mat-form-field appearance="outline"
                            [class]="'innov-matFormField'" 
                            [fxFlex]="50">
                            <mat-label>Total Amount</mat-label>
                            <input matInput placeholder="Total Amount" #totalAmount name="totalAmount"
                                id="totalAmount" formControlName="totalAmount">
                        </mat-form-field>

                    </div>
                </div>

                <div [fxLayout]="'row'" fxflexfill fxLayoutAlign="space-between" class="mb-5">
                    <div class="table-action-buttons">
                        <button mat-raised-button color="primary" class="button-group" [disabled]="selectedLineItemForEdit == undefined"
                            (click)="editItemLine()">
                            <mat-icon>edit</mat-icon>
                          </button>
                          <button mat-raised-button color="warn" class="button-group" [disabled]="selectedLineItemForEdit == undefined"
                            (click)="deleteItemLine()">
                            <mat-icon>delete</mat-icon>
                          </button>
                    </div>
                    <div>
                        <button mat-raised-button class="button-group" [fxFlex]="50" (click)="cancelAddItem()">
                            Cancel
                        </button>
                        <button mat-raised-button class="button-group"  color="primary" [fxFlex]="50" (click)="addOrEditItemLine()">
                            Add Item
                        </button>
                    </div>
                </div>

                <!--Selected Item Lines-->
                <div [fxLayout]="'row'" fxflexfill fxLayoutAlign="start" class="responsive-table">

                    <table mat-table class="full-width-table" [dataSource]="itemLinesDataSource" matSort aria-label="Elements">
                        <!-- Id Column -->
                        <ng-container matColumnDef="itemProductCode">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Code</th>
                          <td mat-cell *matCellDef="let row">{{row.itemProductCode}}</td>
                        </ng-container>
                    
                        <ng-container matColumnDef="itemName">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                          <td mat-cell *matCellDef="let row">{{row.itemName}}</td>
                        </ng-container>
                    
                        <ng-container matColumnDef="mrp">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
                          <td mat-cell *matCellDef="let row">{{row.mrp}}</td>
                        </ng-container>
                    
                        <ng-container matColumnDef="discount">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Discount(%)</th>
                          <td mat-cell *matCellDef="let row">{{row.discount}}</td>
                        </ng-container>
                    
                        <ng-container matColumnDef="rate">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Net Rate</th>
                          <td mat-cell *matCellDef="let row">{{row.rate}}</td>
                        </ng-container>
                    
                        <!-- Name Column -->
                        <ng-container matColumnDef="taxableAmount">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount Exc. Tax</th>
                          <td mat-cell *matCellDef="let row">{{row.taxableAmount}}</td>
                        </ng-container>

                        <ng-container matColumnDef="taxGroupName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tax Group</th>
                            <td mat-cell *matCellDef="let row">{{row.taxGroupName}}</td>
                        </ng-container>

                        <ng-container matColumnDef="taxAmount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tax Amount</th>
                            <td mat-cell *matCellDef="let row">{{row.taxAmount}}</td>
                        </ng-container>

                        <ng-container matColumnDef="totalAmount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Amount</th>
                            <td mat-cell *matCellDef="let row">{{row.totalAmount}}</td>
                        </ng-container>

                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" [attr.colspan]="itemLineDisplayedColumns.length">
                              No Items Added.
                            </td>
                        </tr>
                    
                        <tr mat-header-row *matHeaderRowDef="itemLineDisplayedColumns"></tr>

                        <tr mat-row *matRowDef="let row; columns: itemLineDisplayedColumns;"
                            [ngClass]="{'highlight': !!selectedLineItemForEdit && selectedLineItemForEdit.itemId == row.itemId}"
                            (click)="setSelectedLineItem(row)">
                        </tr>
                      </table> 

                </div>
                
            </mat-card-content>           
        </mat-card>
    </form>

    <form [formGroup]="otherChargesDiscountForm">
        <mat-card [class]="'mb-5'">
            <mat-card-header [class]="'mat-card-headers'">
                <mat-card-subtitle>
                    Add Other Charges/Discount                    
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="start">

                    <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        
                        <mat-form-field appearance="outline"
                            [class]="'innov-matFormField'" 
                            [fxFlex]="(isHandset$ | async) ? 100 : 50">
                            <mat-label>Other Charges/Discount</mat-label>
                            <mat-select formControlName="chargesId" name="chargesId" (selectionChange)="changeOtherChargesType()">
                              <mat-option *ngFor="let otherCharge of retrievedOtherCharges" [value]="otherCharge.id">
                                {{otherCharge.name}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline"
                            [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField pr-5 ml-10'"
                            [fxFlex]="(isHandset$ | async) ? 100 : 50">
                            <mat-label>Charges/Discount Bill Amount</mat-label>
                            <input matInput class="text-right" type="number" placeholder="Enter Charges/Discount Amount" #billAmount name="billAmount"
                                id="billAmount" formControlName="billAmount">
                        </mat-form-field>

                    </div>    
                    
                    <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" [fxFlex]="(isHandset$ | async) ? 100 : 50">

                        <mat-form-field appearance="outline"
                            [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField pr-5 ml-10'"
                            [fxFlex]="(isHandset$ | async) ? 100 : 50">
                            <mat-label>Value %</mat-label>
                            <input matInput class="text-right" type="number" placeholder="Enter Value(%)" #displayedValue 
                                name="displayedValue"
                                id="displayedValue" 
                                formControlName="displayedValue">
                        </mat-form-field>

                        <mat-form-field appearance="outline"
                            [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField pr-5 ml-10'"
                            [fxFlex]="(isHandset$ | async) ? 100 : 50">
                            <mat-label>Amount</mat-label>
                            <input matInput class="text-right" type="number" placeholder="Enter Amount" #amount name="displayedAmount"
                                id="displayedAmount" formControlName="displayedAmount">
                        </mat-form-field>

                    </div>

                </div>

                <div [fxLayout]="'row'" fxflexfill fxLayoutAlign="space-between" class="mb-5">
                    <div class="table-action-buttons">
                        <button mat-raised-button color="primary" class="button-group" [disabled]="selectedOtherChargeLineForEdit == undefined"
                            (click)="editOtherChargeLine()">
                            <mat-icon>edit</mat-icon>
                          </button>
                          <button mat-raised-button color="warn" class="button-group" [disabled]="selectedOtherChargeLineForEdit == undefined"
                            (click)="deleteOtherChargeLine()">
                            <mat-icon>delete</mat-icon>
                          </button>
                    </div>
                    <div>
                        <button mat-raised-button class="button-group" [fxFlex]="50" (click)="cancelOtherCharges()">
                            Cancel
                        </button>
                        <button mat-raised-button class="button-group"  color="primary" [fxFlex]="50" (click)="addOrEditOtherChargesLine()">
                            Add
                        </button>
                    </div>
                </div>

                <div [fxLayout]="'row'" fxflexfill fxLayoutAlign="start" class="responsive-table">

                    <table mat-table class="full-width-table" [dataSource]="otherChargesDataSource" matSort aria-label="Elements">
                        <!-- Id Column -->
                        <ng-container matColumnDef="chargesName">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                          <td mat-cell *matCellDef="let row">{{row.chargesName}}</td>
                        </ng-container>
                    
                        <ng-container matColumnDef="value">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
                          <td mat-cell *matCellDef="let row">{{row.value}}</td>
                        </ng-container>
                    
                        <ng-container matColumnDef="amount">
                          <th mat-header-cell [class]="'text-center'" *matHeaderCellDef mat-sort-header>Total Amount</th>
                          <td mat-cell [class]="'text-right'" *matCellDef="let row">{{row.amount}}</td>
                        </ng-container>

                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" [attr.colspan]="otherChargesDisplayedColumns.length">
                              No Other Charges/Discount Added
                            </td>
                        </tr>
                    
                        <tr mat-header-row *matHeaderRowDef="otherChargesDisplayedColumns"></tr>

                        <tr mat-row *matRowDef="let row; columns: otherChargesDisplayedColumns;"
                            [ngClass]="{'highlight': !!selectedOtherChargeLineForEdit && selectedOtherChargeLineForEdit.chargesId == row.chargesId}"
                            (click)="setSelectedOtherChargeLine(row)">
                        </tr>
                      </table> 

                </div>

            </mat-card-content>
        </mat-card>
    </form>

    <mat-card>
        <mat-card-header [class]="'mat-card-headers'">
            <mat-card-subtitle>
                Transaction Summary                    
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="end">

                <div [fxLayout]="'row'" [class]="'summary-component'" [fxFlex]="(isHandset$ | async) ? 100 : 30" fxLayoutAlign="space-between">
                    <div [class]="'summary-header'">
                        Total Amount
                    </div>
                    <div>
                        {{itemLinesTotalAmount.value}}
                    </div>
                </div>
            </div>
            <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="end">
                <div [fxLayout]="'row'" [class]="'summary-component'" [fxFlex]="(isHandset$ | async) ? 100 : 30" fxLayoutAlign="space-between">
                    <div [class]="'summary-header'">
                        Other charges/Discount
                    </div>
                    <div>
                        {{otherChargesTotalAmount.value}}
                    </div>
                </div>                
            </div>
            <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="end">
                <div [fxLayout]="'row'" [class]="'summary-component'" [fxFlex]="(isHandset$ | async) ? 100 : 30" fxLayoutAlign="space-between">
                    <div [class]="'summary-header'">
                        Net Amount
                    </div>
                    <div>
                        {{netFinalAmount.value}}
                    </div>
                </div>                
            </div>
            <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="end">
                <div [fxLayout]="'row'" [class]="'summary-component'" [fxFlex]="(isHandset$ | async) ? 100 : 30" fxLayoutAlign="space-between">
                    <div [class]="'summary-header summary-received-amount'">
                        Received Amount
                    </div>
                    <div>
                        <mat-form-field appearance="outline"
                            [class]="'innov-matFormField'">                           
                            <input matInput class="text-right"  [formControl]="receivedAmount">
                        </mat-form-field>
                    </div>
                </div>                
            </div>
            <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="end" class="mb-5">
                <div [fxLayout]="'row'" [class]="'summary-component'" [fxFlex]="(isHandset$ | async) ? 100 : 30" fxLayoutAlign="space-between">
                    <div [class]="'summary-header'">
                        Return Amount
                    </div>
                    <div>
                        {{returnAmount.value}}
                    </div>
                </div>                
            </div>

            <div [fxLayout]="'row'" fxflexfill fxLayoutAlign="end">               
                <div>
                    <button mat-raised-button class="button-group" [fxFlex]="50">
                        Cancel
                    </button>
                    <button mat-raised-button class="button-group"  color="primary" [fxFlex]="50">
                        Save
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>