<div>
    <mat-form-field class="example-full-width" appearance="outline" [class]="'innov-matFormField mr-10 search-item-area'">
        <mat-label>Item</mat-label>
        <input type="text" placeholder="Select Item" aria-label="item" matInput [matAutocomplete]="auto"
            [formControl]="autoCompleteInput">
        <mat-icon matSuffix class="search-icon">search</mat-icon>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onItemSelectionChanged($event)">
            <mat-option *ngFor="let option of filteredItems  | async" [value]="option.name">
                {{option.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</div>
