<div class="mat-elevation-z8">
    <mat-card class="mb-10">
        <mat-card-header [class]="'mat-card-headers'">
            <mat-card-title>
                New Item Group
                <div class="title-underline"></div>                
              </mat-card-title>
              <div>
                <button mat-raised-button class="button-group"  matTooltip="Add New Item" (click)="viewAllItemGroups()">
                    <mat-icon>arrow_back</mat-icon>
                    All Item Groups
                </button>                
              </div>
        </mat-card-header>   
        
        <mat-card-content  class="text-center" *ngIf="isFormLoaded">
            <form [formGroup]="itemGroupForm">
                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-around">
                    <mat-form-field appearance="outline" [class]="(isHandset$ | async) ? 'innov-matFormField' : 'innov-matFormField mr-10'" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Enter Item Group Name"
                            #name name="name" id="name"
                            formControlName="name">
                    </mat-form-field>                   

                    <mat-form-field appearance="outline" [class]="'innov-matFormField search-ledger-area'" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>Parent Group Name</mat-label>
                        <input type="text" placeholder="Select Parent Item Group" aria-label="parentItemGroup" matInput 
                            [matAutocomplete]="auto"
                            formControlName="parentItemGroupName">
                        <mat-icon matSuffix class="search-icon">search</mat-icon>
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onParentItemGroupSelectionChanged($event)">
                            <mat-option *ngFor="let parentItemGroup of filteredParentItemGroupList  | async" [value]="parentItemGroup.name">
                                {{parentItemGroup.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-around">
                    <mat-form-field appearance="outline" class="innov-matFormField" [fxFlex]="100">
                        <mat-label>Enter Description</mat-label>
                        <textarea matInput placeholder="Enter item group Description"  formControlName="description"></textarea>
                    </mat-form-field>
                </div>
                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="end">
                    <div>
                        <button mat-raised-button class="button-group" [fxFlex]="50" (click)="viewAllItemGroups()">
                            Cancel
                        </button>
                        <button mat-raised-button class="button-group"  color="primary" [fxFlex]="50" (click)="saveItemGroup()">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>