<div class="mat-elevation-z8">
    <mat-card class="mb-10">
        <mat-card-header [class]="'masters-headers'">
            <mat-card-title>
                New Item
                <div class="title-underline"></div>                
              </mat-card-title>
              <div>
                <button mat-raised-button class="button-group"  matTooltip="Add New Item" (click)="viewAllItems()">
                    <mat-icon>arrow_back</mat-icon>
                    All Items
                </button>                
              </div>
        </mat-card-header>        

        <mat-card-content  class="text-center">
            <form [formGroup]="itemForm">
                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-around">
                    <mat-form-field appearance="outline" class="innov-matFormField mr-10" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Enter Item Name"
                            #itemName name="itemName" id="itemName"
                            formControlName="name">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="innov-matFormField mr-10" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>Product Code</mat-label>
                        <input matInput placeholder="Enter Product Code"
                            #productCode name="productCode" id="productCode"
                            formControlName="productCode">
                    </mat-form-field>
                </div>
                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-around">
                    <mat-form-field appearance="outline" class="innov-matFormField mr-10" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>HSN Code</mat-label>
                        <input matInput placeholder="Enter HSN Code"
                            #hsnCode name="hsnCode" id="hsnCode"
                            formControlName="hsnCode">
                    </mat-form-field>
                    <mat-form-field class="innov-matFormField mr-10" appearance="outline"  [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>Unit</mat-label>
                        <input type="text"
                            placeholder="Select Item Unit" 
                            aria-label="unit"
                            matInput                    
                            [matAutocomplete]="autoUnit"
                            formControlName="unitName">
                            <mat-icon matSuffix class="search-icon">search</mat-icon>
                        <mat-autocomplete autoActiveFirstOption #autoUnit="matAutocomplete" (optionSelected)="onUnitSelectionChanged($event)">
                        <mat-option *ngFor="let option of itemUnits  | async" [value]="option.displayName">
                            {{option.displayName}}
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-around">                
                    <mat-form-field class="innov-matFormField mr-10" appearance="outline"  [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>Item Group</mat-label>
                        <input type="text"
                            placeholder="Select Item Group" 
                            aria-label="itemGroup"
                            matInput                    
                            [matAutocomplete]="autoItemGroup"
                            formControlName="groupName">
                            <mat-icon matSuffix class="search-icon">search</mat-icon>
                        <mat-autocomplete autoActiveFirstOption #autoItemGroup="matAutocomplete" (optionSelected)="onItemGroupSelectionChanged($event)">
                        <mat-option *ngFor="let option of filteredItemGroups  | async" [value]="option.name">
                            {{option.name}}
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="innov-matFormField mr-10" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>M.R.P.</mat-label>
                        <input matInput placeholder="Enter M.R.P."
                            #hsnCode name="mrp" id="mrp"
                            formControlName="mrp">
                    </mat-form-field>
                </div>
                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-around">
                    <mat-form-field appearance="outline" class="innov-matFormField mr-10" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>Selling Price</mat-label>
                        <input matInput placeholder="Enter Selling Price"
                            #sellingPrice name="sellingPrice" id="sellingPrice"
                            formControlName="sellingPrice">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="innov-matFormField mr-10" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>Opening Rate</mat-label>
                        <input matInput placeholder="Enter Opening Rate"
                            #openingRate name="openingRate" id="openingRate"
                            formControlName="openingRate">
                    </mat-form-field>
                </div>
                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-around">
                    <mat-form-field appearance="outline" class="innov-matFormField mr-10" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>Minimum Stock</mat-label>
                        <input matInput placeholder="Enter Min. Stock"
                            #minStock name="minStock" id="minStock"
                            formControlName="minStock">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="innov-matFormField mr-10" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>Maximum Stock</mat-label>
                        <input matInput placeholder="Enter Max. Stock"
                            #maxStock name="maxStock" id="maxStock"
                            formControlName="maxStock">
                    </mat-form-field>
                </div>
                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-around">
                    <mat-form-field appearance="outline" class="innov-matFormField mr-10" [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>Opening Stock</mat-label>
                        <input matInput placeholder="Enter Opening Stock"
                            #openingStock name="openingStock" id="openingStock">
                    </mat-form-field>
                    <mat-form-field class="innov-matFormField mr-10" appearance="outline"  [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>Sale Accounts</mat-label>
                        <input type="text"
                            placeholder="Select Sale Accounts" 
                            aria-label="saleAccounts"
                            matInput                    
                            [matAutocomplete]="autoSaleAccounts"
                            formControlName="ledgerSaleAccount">
                            <mat-icon matSuffix class="search-icon">search</mat-icon>
                        <mat-autocomplete autoActiveFirstOption #autoSaleAccounts="matAutocomplete" (optionSelected)="onSaleAccountSelectionChanged($event)">
                        <mat-option *ngFor="let option of filteredSaleAccounts  | async" [value]="option.name">
                            {{option.name}}
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-around">                
                    <mat-form-field class="innov-matFormField mr-10" appearance="outline"  [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>Purchase Accounts</mat-label>
                        <input type="text"
                            placeholder="Select Purchase Accounts" 
                            aria-label="purchaseAccounts"
                            matInput                    
                            [matAutocomplete]="autoPurchaseAccounts"
                            formControlName="ledgerPurchaseAccount">
                            <mat-icon matSuffix class="search-icon">search</mat-icon>
                        <mat-autocomplete autoActiveFirstOption #autoPurchaseAccounts="matAutocomplete" (optionSelected)="onPurchaseAccountSelectionChanged($event)">
                        <mat-option *ngFor="let option of filteredPurchaseAccounts  | async" [value]="option.name">
                            {{option.name}}
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field class="innov-matFormField mr-10" appearance="outline"  [fxFlex]="(isHandset$ | async) ? 100 : 50">
                        <mat-label>Tax Class</mat-label>
                        <input type="text"
                            placeholder="Select Tax Class" 
                            aria-label="taxClass"
                            matInput                    
                            [matAutocomplete]="autoTaxClass"
                            formControlName="taxClassName">
                            <mat-icon matSuffix class="search-icon">search</mat-icon>
                        <mat-autocomplete autoActiveFirstOption #autoTaxClass="matAutocomplete" (optionSelected)="onTaxClassSelectionChanged($event)">
                        <mat-option *ngFor="let option of filteredTaxClass  | async" [value]="option.name">
                            {{option.name}}
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div [fxLayout]="(isHandset$ | async) ? 'column' : 'row'" fxflexfill fxLayoutAlign="space-between">
                    <div class="text-left">
                        <section class="example-section">
                            <mat-checkbox class="example-margin"  formControlName="maintainStock">Maintain Stock</mat-checkbox>              
                        </section>
                    </div>
                    <div>
                        <button mat-raised-button class="button-group" [fxFlex]="50" (click)="viewAllItems()">
                            Cancel
                        </button>
                        <button mat-raised-button class="button-group"  color="primary" [fxFlex]="50" (click)="saveItem()">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
