/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background: url(../src/assets/images/background-image.png) repeat 0 0 #f9f9f9;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.market-banner {
    background: url('../src/assets/images/logo/login.png') bottom center no-repeat #00458d;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.market-text {
    color: #fff;
    font-family: 'open_sansregular';
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 20px;
    line-height: 50px;
}

.container {
    margin: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.align-items-center{
    align-items: center !important;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.title-underline {
    width: 100%;
    height: 2px;
    background: #ff6700;
    margin-top: 2px;
}

.mat-card-header-text {
    margin: 0 0px !important;
}

.innov-matFormField{
    font-size: 0.8rem;
}

.more-button {
    position: absolute !important;
    top: 5px;
    right: 10px;
}

th.mat-header-cell {
    color: #fff;
    background-color: #3f51b5;
}

.mat-sort-header-container {
    justify-content: center !important;
}

.justify-space-between{
    justify-content: space-between;
}

td,
th {
    text-align: center !important;
    vertical-align: middle !important;
}

.i-chip-box.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.i-chip .cdk-drop-list-dragging {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.calendar-component{
    font-size: 12px !important;
}

.mat-form-component{
    font-size: 12px !important;
}

.mat-card-headers{
    justify-content: space-between;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: blue; 
}

.full-width-table {
    width: 100%;
}

.highlight{  
    background: #dddddd;
}

.showbutton {
    margin-left: 10px;
    margin-top: 10px;
}
  